@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: black;
}
/* background-color: black;
    color: white;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
}
.home ul li {
  width: 14px;
  list-style-type: none;
  display: flex;
  gap: 15px;
  /* padding:14px; */
  padding-top: 14px;
  font-weight: 400;
}
.home {
  padding: 10px;
}
.heading {
 display:flex;
 gap:15px;
 width:100%;
 padding-top:14px;
 font-weight:bold;
   /* white-space: nowrap; */

}
.heading img{
  width:20px;
 
}
