@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: black;
}
/* background-color: black;
    color: white;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
}
.home ul li {
  width: 14px;
  list-style-type: none;
  display: flex;
  gap: 15px;
  /* padding:14px; */
  padding-top: 14px;
  font-weight: 400;
}
.home {
  padding: 10px;
}
.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  /* white-space: nowrap; */
  font-size: 13px;
  justify-content: cener;
}
.heading img {
  width: 20px;
}
.footer {
  display: flex;
  font-size: 10px;
  position: absolute;
  bottom: 0;

  gap: 13px;
}
.footer a {
  color: grey;
  postion: absolute;
  bottom:0;
}
.library  {
  min-height: 80vh;
  position: relative;
}
.header{
  display:flex;
  justify-content:space-between;
  background-color:rgb(34,34,34);

}
.header > *:not(button) {
  padding: 12px;
}
.right{
  margin:16px 0px;
}
.spotifyplaylists{
  padding:16px;
}
.spotifyplaylists .card{
  width:250px;
  padding:10px;
  border-radius:5px;
  background-color:#252525;
}
.card img{
  width:100%;
  object-fit:contain;
}
.card >*{
    padding-top:10px;
}
.card-container{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  margin:30px;
}
.card {
  position: relative;
  width: 200px;
  padding: 10px;
  border: 1px solid red;
  border-radius: 8px;
  background: #111;
  color: white;
}

.cover {
  position: relative; /* parent for play button */
}

.cover img {
  width: 100%;
  border-radius: 6px;
}

.play {
  position: absolute;
  bottom: 10px;   /* bottom-right corner */
  right: 0px;
  width: 70px;
  height: 65px;
  cursor: pointer;
  opacity: 0; /* hidden by default */
  transition: opacity 0.3s ease, transform 0.2s ease;
  left:80px;
}

/* show play button on hover */
.card:hover .play {
  opacity: 1;
  transform: scale(1.1); /* little zoom effect */
}
